body {
    font-family: Arial, sans-serif;
}

.card {
    margin-bottom: 30px;

}

footer {
    background-color: #f8f9fa;
}

footer h5 {
    margin-bottom: 20px;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

footer ul li a {
    color: #6c757d;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

